<template>
    <div>
        <nav class="navbar navbar-expand-md navbar-dark bg-success navbar-laravel navbar-fixed-top">
            <div class="container">
                <router-link :to="{name: 'home'}" class="navbar-brand">Online Shopping</router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto"></ul>

                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <router-link :to="{ name: 'home' }" class="nav-link"><font-awesome-icon icon="home"/> Home</router-link>
                      </li>
                  
                        <router-link :to="{ name: 'login' }" class="nav-link" v-if="!isLoggedIn">
                          <font-awesome-icon icon="user"/> Login
                        </router-link>
                        <router-link :to="{ name: 'register' }" class="nav-link" v-if="!isLoggedIn">
                          <font-awesome-icon icon="users"/> Register
                          </router-link>
                        <span v-if="isLoggedIn">
                          <router-link :to="{ name: 'userboard' }" class="nav-link" v-if="user_type == 0"> Hi, {{name}}</router-link>
                          <router-link :to="{ name: 'admin' }" class="nav-link" v-if="user_type == 1"> Hi, {{name}}</router-link>
                        </span>
                        <!-- <a href="#"><li class="nav-link" v-if="isLoggedIn"> Hi, {{name}}</li></a> -->
                        <a href="#"><li class="nav-link" v-if="isLoggedIn" @click="logout"> Logout</li></a>
                    </ul>
                </div>
                  <form class="form-inline my-2 my-lg-0">
                      <div class="input-group input-group-sm">
                          <!-- <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                          <div class="input-group-append">
                              <button type="button" class="btn btn-secondary btn-number">
                                  <font-awesome-icon icon="search" />
                              </button>
                          </div> -->
                      </div>
                      <router-link :to="{ name: 'cart' }" class="nav-link">
                          <font-awesome-icon icon="shopping-cart"/> Cart
                          <span class="badge badge-light" v-html="cartLength"></span>
                      </router-link>
                  </form>
              </div>
            </div>
        </nav>
        <main class="py-2">
            <router-view @loggedIn="change" :key="$route.fullPath"></router-view>
        </main>
        <hr>

     <bottom/>
    </div>
</template>
<script>
    export default {
      data(){
          return {
            name        : null,
            user_type   : 0,
            isLoggedIn  : localStorage.getItem('jwt') != null,
            products : [],
            cartLength : 0,
            items: [],
          }
      },
      mounted() {
        this.setDefaults()
      },
      methods : {
            setDefaults(){
              if(this.isLoggedIn){
                let user        = JSON.parse(localStorage.getItem('user'))
                this.name       = user.name
                this.user_type  = user.is_admin
                console.log(user)
              }
              let count = localStorage.getItem('cartCount')
              this.cartLength = count == null ? 0 : count;
            },
            change(){
                this.isLoggedIn = localStorage.getItem('jwt') != null
                this.setDefaults()
            },
            logout(){
                localStorage.removeItem('jwt')
                localStorage.removeItem('user')
                this.change()
                this.$router.push('/')
            },
            
        
      }
}

</script>
<style scoped>
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
a {
  color:#000;
}
</style>