<template>
    <div>
        <div class="container">
            <div class="container-fluid hero-section d-flex align-content-center justify-content-center flex-wrap ml-auto">
                <h2 class="title"><font-awesome-icon icon="shopping-cart"/> Cart</h2>
            </div>
            <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Total</th>
                <th style="width:10%"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(cart, index) in carts" @key="index">
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-3 hidden-xs"><img :src="cart.image" class="img-responsive" width="80px"/></div>
                        <div class="col-sm-9">
                            <h4 class="nomargin">{{ cart.name }}</h4>
                            <p>{{ cart.description }}</p>
                            <p>Color : {{ cart.product_attribute.color }}</p>

                        </div>
                    </div>
                </td>
                <td data-th="Price">$ {{ cart.price }}</td>
                <td data-th="Quantity">
                    <input type="number" class="form-control" :value="cart.quantity" min="1" max="99" @change="updateQuantity(index, $event)">
                </td>
                <td data-th="Subtotal" class="text-center">$ {{ cart.rowTotal }}</td>
                <td class="actions" data-th="Action">
                    <button class="btn btn-danger btn-sm" type="button" @click="remove(cart, index)">
                        <font-awesome-icon icon="trash"/>
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>

            <tr>
                <td>
                    <router-link :to="{ name: 'home' }" class="btn btn-warning"> Continue Shopping</router-link>
                    <router-link :to="{ name: 'checkout2' }" class="btn btn-success"> Checkout</router-link>
                </td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center">$ <strong v-html="subtotal()"> </strong></td>
            </tr>
            </tfoot>
        </table>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            carts: [],
            //subtotal: 0
            total: 0
        }
    },
    beforeMount(){   
        if(localStorage.getItem('cart') != null){
            //localStorage.clear();
            //let ify = JSON.stringify(localStorage.getItem('cart'))
            this.carts = JSON.parse(localStorage.getItem('cart'));
            //console.log(this.carts)
        }
        this.subtotal();
    },
    methods:{
        updateQuantity(idx, e) {
                let new_val = e.target.value;
                if (new_val >= 1 || new_val < 99) {
                    e.target.value = this.carts[idx].quantity
                    this.carts[idx].quantity = new_val
                    let total = this.total - (+this.carts[idx].price * +this.carts[idx].quantity)
                    this.total = total;
                }
            },
        subtotal() {
            let length = this.carts.length
            let carts = this.carts
            let total = 0;
            //console.log(this.carts[0].price);return
                
            Object.keys(carts).forEach(function(key, value){
                //console.log(carts[key].price);
                total += (+carts[key].price * +carts[key].quantity)
                carts[key].rowTotal = Math.round(+carts[key].price * +carts[key].quantity *100)/100
            })
            
            this.carts = carts
            this.total = Math.round(total*100)/100
            console.log(this.carts);
            localStorage.setItem('cart', JSON.stringify(this.carts))
            return this.total.toFixed(2);
        },

        remove (item, id) {
            if(confirm('Remove this item?')){
                let total = this.total - (+item.price * +item.quantity)
                this.carts.splice(id, 1)
                localStorage.setItem('cart', JSON.stringify(this.carts))
                let count = localStorage.getItem('cartCount');
                count = parseInt(count) - 1;
                localStorage.setItem('cartCount', count)
                window.location.href = '/cart'
                //this.$router.push({ name: 'home', params: { nextUrl: this.$route.fullPath }})
            }
            
            //console.log(this.carts)
        }
    }
}
</script>
<style scoped>
.container {
    margin-top:70px;
}
</style>