<template>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="container-fluid hero-section d-flex align-content-center justify-content-center flex-wrap ml-auto">
                <h2 class="title"><font-awesome-icon icon="shopping-cart"/> Checkout Your Items</h2>
            </div>
            <div class="order-box" v-for="(cart, index) in carts" @key="index">
                <div class="panel panel-success">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4 text-center">
                                <img :src="cart.image" :alt="cart.name" width="100px">
                            </div>
                            <div class="col-sm-8">
                                <h4 class="title" v-html="cart.name"></h4>
                                <p class="small-text text-muted">{{ cart.description }} </p>
                                <p class="small-text text-muted">Color : {{ cart.product_attribute.color }} </p>
                                <p class="small-text text-muted">Price : $ {{cart.price}} x {{ cart.quantity }}</p>
                                <hr>
                                <label class="row"><span class="col-md-12">Amount : ${{ cart.price * cart.quantity }}</span>
                                <input type="hidden" name="total" :value="cart.price * cart.quantity"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <br>
            <div class="order-box">
                <label class="row">
                    <div class="col-md-12 float-left">Total Amount : $ <strong v-html="totalAmount()"></strong></div>
                    <input type="hidden" name="total" :value="totalAmount()">
                </label>
            </div>
                <br>
            <div class="row">
                <label for="address" class="col-md-3 col-form-label">Delivery Address</label>

                <div class="col-md-9">
                    <input id="address" type="text" class="form-control" v-model="address" required>
                </div>
            </div>
            <br>
            <button class="col-md-4 btn btn-sm btn-success float-right" @click="placeOrder">Submit Order</button>
            </div>
        </div>
    </div>
</div>
</template>
<script>
    export default {
        props : ['pid'],
        data(){
            return {
                carts: [],
                address : "",
                quantity : 1,
                isLoggedIn : null,
                total : 0,
            }
        },
        mounted(){
            this.isLoggedIn = localStorage.getItem('jwt') != null
        },
        beforeMount(){
            if(localStorage.getItem('cart') != null){
                this.carts = JSON.parse(localStorage.getItem('cart'));
                console.log(this.carts)
            }     
            if(localStorage.getItem('jwt') != null){
                this.user = JSON.parse(localStorage.getItem('user'))
                axios.defaults.headers.common['Content-Type'] = 'application/json'
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('jwt')
            }

        },
        methods : {
            login(){
                this.$router.push({ name: 'login', params: { nextUrl: this.$route.fullPath }})
            },
            register(){
                this.$router.push({ name: 'register', params: { nextUrl: this.$route.fullPath }})
            },
            placeOrder(e) {
                e.preventDefault()
                this.user = JSON.parse(localStorage.getItem('user'))
                console.log(localStorage.getItem('jwt'))
                if(this.address == ''){
                    alert ('Your address is compulsory for delivery')
                    return false
                }
                if(!confirm('Are you sure to submit this order ?')){
                    return false
                }
                axios.post('api/orders/', {
                    address : this.address,
                    quantity: this.quantity,
                    products : this.carts,
                    total : this.total
                })
                .then(response => {
                    if(response.data.status == false){
                        alert(response.data.message)
                        return false;
                    }
                    this.$router.push('/confirmation')
                    localStorage.setItem('myorders',JSON.stringify(response.data))
                })
                .catch(error => {
                    alert(error);
                })
                if(localStorage.getItem('jwt') != null){
                    axios.defaults.headers.common['Content-Type'] = 'application/json'
                    axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('jwt')
                }      
            },
            totalAmount() {
                let carts = this.carts
                let total = 0;                
                Object.keys(carts).forEach(function(key, value){
                    total += (+carts[key].price * +carts[key].quantity)
                })
                
                this.total = Math.round(total*100)/100
                return this.total.toFixed(2);
            },
        },
    }
</script>
<style scoped>
    .container {
        margin-top: 70px;
    }
    .small-text {
        font-size: 14px;
    }
    .order-box {
        border: 1px solid #cccccc;
        padding: 10px 15px;
    }
    .title {
        font-size: 20px;
    }
</style>