<template>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="order-box">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img :src="product.image" :alt="product.name" width="120px">
                                </div>
                                <div class="col-sm-8">
                                    <h4 class="title" v-html="product.name"></h4>
                                    <p class="small-text text-muted">{{ product.description }} </p>
                                    <p class="small-text text-muted">Color : {{ attr.color }} </p>
                                    <p class="small-text text-muted">Price : $ {{product.price}}</p>
                                    <p class="small-text text-muted">Available Units: {{product.units}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <label class="row">
                        <span class="col-md-2 float-left">Quantity: </span>
                        <input type="number" name="units" min="1" :max="product.units" class="col-md-2 float-left form-control" v-model="quantity" @change="checkUnits">
                    </label>

                    <label class="row"><span class="col-md-2 float-left">Total : $ </span><input type="text" name="total" class="col-md-2 float-right" v-model="total" disabled></label>
                </div>
                <br>
                <div>
                    <!-- <div v-if="!isLoggedIn">
                        <h2>You need to login to continue</h2>
                        <button class="col-md-4 btn btn-primary float-left" @click="login">Login</button>
                        <button class="col-md-4 btn btn-danger float-right" @click="register">Create an account</button>
                    </div> -->
                    <!-- <div v-if="isLoggedIn"> -->
                        <div class="row">
                            <label for="address" class="col-md-3 col-form-label">Delivery Address</label>

                            <div class="col-md-9">
                                <input id="address" type="text" class="form-control" v-model="address" required>
                            </div>
                        </div>
                        <br>
                        <!-- <button class="col-md-4 btn btn-sm btn-success float-right" v-if="isLoggedIn" @click="placeOrder">Continue</button> -->
                        <button class="col-md-4 btn btn-sm btn-success float-right" @click="placeOrder">Submit Order</button>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
    export default {
        props : ['pid'],
        data(){
            return {
                address : "",
                quantity : 1,
                isLoggedIn : null,
                product : [],
                total : 0,
                attr : []
            }
        },
        mounted(){
            this.isLoggedIn = localStorage.getItem('jwt') != null
        },
        beforeMount(){
            axios.get(`/api/products/${this.pid}`)
            .then(response => {
                this.product = response.data
                this.total = this.product.price * this.quantity
            })
            .catch(error => {
                console.error(error);
            })       
            if(localStorage.getItem('jwt') != null){
                this.user = JSON.parse(localStorage.getItem('user'))
                axios.defaults.headers.common['Content-Type'] = 'application/json'
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('jwt')
            }
            this.attr = JSON.parse(localStorage.getItem('attr'))
            //console.log(this.attr)
            //this.attr = JSON.parse('attr')
        },
        methods : {
            login(){
                this.$router.push({ name: 'login', params: { nextUrl: this.$route.fullPath }})
            },
            register(){
                this.$router.push({ name: 'register', params: { nextUrl: this.$route.fullPath }})
            },
            placeOrder(e) {
                e.preventDefault()
                if(this.address == ''){
                    alert ('Your address is compulsory for delivery')
                    return false
                }
                if(!confirm('Are you sure to submit this order ?')){
                    return false
                }
                axios.post('api/orders/', {
                    address : this.address,
                    quantity: this.quantity,
                    product : this.product.id,
                    product_attribute: this.attr.id,
                    total : this.total
                })
                .then(response => {
                    if(response.data.status == false){
                        alert(response.data.message)
                        return false;
                    }
                    this.$router.push('/confirmation')
                    localStorage.setItem('myorders',JSON.stringify(response.data))
                    //localStorage.clear();
                })
                .catch(error => {
                    alert(error);
                })  
                if(localStorage.getItem('jwt') != null){
                    this.user = JSON.parse(localStorage.getItem('user'))
                    axios.defaults.headers.common['Content-Type'] = 'application/json'
                    axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('jwt')
                }        
                
            },
            checkUnits(e){
                if (this.quantity > this.product.units)
                {
                    this.quantity = this.product.units
                }
                this.total = this.quantity * this.product.price
            },
        }
    }
</script>
<style scoped>
    .container {
        margin-top: 70px;
    }
    .small-text {
        font-size: 14px;
    }
    .order-box {
        border: 1px solid #cccccc;
        padding: 10px 15px;
    }
    .title {
        font-size: 20px;
    }
</style>