<template>
    <div>
        <banner/>
        <div class="container">
            <div class="row">
                <category/>
                <div class="col">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4" v-for="(product,index) in products" @key="index">
                            <div class="card">
                                <router-link :to="{ path: '/products/'+product.id}">
                                <img class="card-img-top mt-2" :src="product.image" :alt="product.name">
                                </router-link>
                                <div class="card-body">
                                    <router-link :to="{ path: '/products/'+product.id}">
                                    <h4 class="card-title">{{ product.name }}</h4>
                                    
                                    <p class="card-text">{{ product.description }}</p>
                                    <div class="row">
                                        <div class="col">
                                            <p class="btn btn-danger btn-block"><strike>${{ product.price + 200 }} </strike> &nbsp; $ {{ product.price }}</p>
                                        </div>
                                        
                                        <!-- <div class="col">
                                            <button type="submit" class="btn btn-success btn-block" @click="addToCart(product)"><font-awesome-icon icon="shopping-cart"/> Add</button>
                                        </div> -->
                                    </div>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</template>
<script>
    export default {
        data(){
            return {
                products : [],
                cartLength : 0,
                items: []
            }
        },
        mounted(){
            this.$root.$on('Search', (e,p) => {
                this.search(e,'-')
            });
            this.$root.$on('SearchPrice', (e,p) => {
                this.searchPrice('-',p)
            });
            //console.log(localStorage.getItem('user'))
            //localStorage.clear();
            this.getProduct();    
        },
        methods: {
            search(e,p){
                //alert(e);
                if(e === ''){
                    this.getProduct()
                    return
                }
                axios.get("api/products_search/"+e+"/"+p)
                //axios.get("api/products_search/"+e)
                    .then(response => {
                        this.products = response.data
                    })
                    .catch(error => {
                        console.error(error);
                })   
            },
            searchPrice(e,price){
                //alert(price)
                if(price === '-'){
                    this.getProduct()
                    return
                }
                axios.get("api/products_search/"+e+"/"+price)
                    .then(response => {
                        this.products = response.data
                    })
                    .catch(error => {
                        console.error(error);
                }) 
            },
            getProduct(){
                let cart = localStorage.getItem('cart')
                if (cart !== null) {
                    let cartLength = JSON.parse(JSON.stringify(cart)).length
                    this.cartLength = cartLength
                }
                //console.log(cart)
                axios.get("api/products/")
                .then(response => {
                    this.products = response.data
                })
                .catch(error => {
                    console.error(error);
                })   
            }
            
        }
    }
</script>
<style scoped>
    .small-text {
        font-size: 14px;
    }
    .product-box {
        border: 1px solid #cccccc;
        padding: 10px 15px;
    }
    .hero-section {
        height: 30vh;
        background: #ababab;
        align-items: center;
        margin-bottom: 20px;
        margin-top: -20px;
    }
    .title {
        font-size: 60px;
        color: #ffffff;
    }
    .mt-2{
        max-width: 128px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height:200px;
    }
    a {
        text-decoration: none;
    }
    
</style>