<template>
<div>
    <banner />
    <div class="container">
        <div class="row justify-content-center">
            <category />
            <div class="col-md-9">
                <div class="card card-default">
                    <div class="card-header">Login</div>

                    <div class="card-body">
                        <div>
                            <p class="error" v-if="!isLoggedin">Wrong username and password. Try again.</p>
                            <div class="form-group row">
                                <label for="email" class="col-sm-4 col-form-label text-md-right">E-Mail Address</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" v-model="email" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" v-model="password" required>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary" @click="handleSubmit">
                                        Login
                                    </button>
                                    
                                    <button class="btn btn-success" @click="loginFacebook"><font-awesome-icon :icon="['fab', 'facebook']"/> Login with Facebook</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        data(){
            return {
                email : "",
                password : "",
                isLoggedin: true,
            }
        },
        mounted(){
            this.checkToken()
        },
        methods : {
            checkToken(){
                if (localStorage.getItem('jwt') != null){
                    this.$router.push('dashboard')
                }
            },
            loginFacebook(){
                window.open('api/login/facebook');
            },
            handleSubmit(e){
                e.preventDefault()
                
                if (this.password.length > 0) {
                    axios.post('api/login', {
                        email: this.email,
                        password: this.password
                      })
                      .then(response => {
                        let is_admin = response.data.user.is_admin
                        localStorage.setItem('user',JSON.stringify(response.data.user))
                        localStorage.setItem('jwt',response.data.token)
                        
                        if (localStorage.getItem('jwt') != null){
                            self.isLoggedin = true;
                            this.$emit('loggedIn')
                            if(this.$route.params.nextUrl != null){
                                this.$router.push(this.$route.params.nextUrl)
                            }
                            else {
                                if(is_admin== 1){
                                    this.$router.push('admin')
                                }
                                else {
                                    this.$router.push('cart')
                                }
                            }
                        }
                      })
                      .catch(function (error) {
                          console.log(error.response.status);
                        if(error.response.status === 401){
                            self.isLoggedin = false;
                            alert('Wrong username and password. Try again.')
                        }
                        //return error;
                      });
                }
            }
        },
    }
</script>
<style scoped>
.error{
    text-align: center;
    color:red;
}
</style>

