<template>
<div class="space-20">
    <banner/>
    <div class="container">
        <div class="row">
            
            <img :src=product.image :alt="product.name" height="400px">
            <div class="col-md-4">
                <h3 class="title" v-html="product.name + ' ('+product.product_id+')'"></h3>
                <p class="text-muted">{{product.description}}</p>
                <h4>
                    <p class="small-text text-muted">$ {{product.price}}</p>
                    <!-- <p class="small-text">Stock: {{product.units}}</p> -->
                </h4>
                <div class="form-group">
                    <label>Color : </label>
                    <select class="form-control" v-model="selected">
                    <option :value="attr.id"  v-for="attr in attribute"> {{attr.color}} </option>           
                </select>
                </div>
                <button @click="checkColor()" class="col-md-4 btn btn-sm btn-primary">
                    <font-awesome-icon icon="money-bill"/> Buy Now
                </button>
                <button class="col-md-4 btn-sm btn-success" @click="addToCart(product)"><font-awesome-icon icon="cart-plus"/> Add</button>

            </div>
            
        </div>
    </div>
</div>
</template>
<script>
    export default {
        data(){
            return {
                product : [],
                selected: '',
                attribute: []
            }
        },
        beforeMount(){
            axios.get(`/api/products/${this.$route.params.id}`)
            .then(response => {
                this.product = response.data
                this.attribute = this.product.attribute
            })
            .catch(error => {
                console.error(error);
            })       
        },
        methods: {
            checkColor(){
                if(this.selected === ''){
                    alert('Please choose color')
                    return false
                }
                let attr = this.attribute.find(el => el.id === this.selected);
                localStorage.setItem('attr',JSON.stringify(attr))
                //console.log(attr_id.color)
                //this.$router.push({ name: 'checkout', params: { pid: this.product.id }}) 
                window.location.href = '/checkout?pid='+this.product.id           

            },
            addToCart(item) {
                if(this.selected === ''){
                    alert('Please choose color')
                    return false
                }
                let cart = localStorage.getItem('cart')
                let attr_id = this.attribute.find(el => el.id === this.selected);

                if (cart === null || cart.length == 2) {
                    item.quantity = 1;
                    item.product_attribute = attr_id
                    this.items = [item]
                    localStorage.setItem('cart', JSON.stringify(this.items))
                    //console.log(this.items);
                    this.cartLength = this.items.length
                    //return
                } else {
                    this.items = JSON.parse(cart);
                    let oldItem = this.items.find(el => el.id === item.id || el.product_attribute.id === attr_id)
                    //console.log(oldItem);return
                    if (oldItem !== undefined) {
                        oldItem.quantity = parseInt(oldItem.quantity) + 1
                        oldItem.product_attribute = attr_id
                        let itemIndex = this.items.findIndex(el => el.id === oldItem.id)
                        this.items[itemIndex] = oldItem
                        localStorage.setItem('cart', JSON.stringify(this.items))
                        this.cartLength = this.items.length
                        //console.log('same item :'+this.items);
                        window.location.href = '/cart'
                        return
                    }else{
                        item.quantity = 1
                        item.product_attribute = attr_id
                        //this.items.push(item)
                        //localStorage.setItem('cart', JSON.stringify(this.items))
                        //console.log(this.items);
                        this.cartLength = this.items.length
                    }
                    this.items.push(item)
                    localStorage.setItem('cart', JSON.stringify(this.items))
                    this.cartLength = this.items.length
                }
                localStorage.setItem('cartCount',this.cartLength)
                //console.log(this.items);
                window.location.href = '/cart'
                //this.$router.push({ name: 'cart', params: { nextUrl: this.$route.fullPath }})            
            }
        }
    }
</script>
<style scoped>
    .small-text {
        font-size: 18px;
    }
    .title {
        font-size: 20px;
    }
    .space-20{
        margin-top:50px;
    }
</style>