<template>
<div class="col-12 col-sm-3">
    <div class="card bg-light mb-3">
        <div class="card-header bg-success text-white text-uppercase"><font-awesome-icon icon="search"/> Filter</div>
        <div class="search">
            <input type="text" name="search_product" class="form-control" placeholder="Product name" id="search" v-on:input="search($event.target.value,'-')">
        </div>
        <div class="search">
            <select class="form-control" v-model="select_price" v-on:change="searchPrice('-',$event.target.value)">
                <option value="-">Show All Prices</option>
                <option value="100">Price < $100</option>
                <option value="500">Price < $500</option>
                <option value="1000">Price < $1000</option>
            </select>
        </div>
        <div class="card-header bg-success text-white text-uppercase"><font-awesome-icon icon="list"/> Categories</div>
        <ul class="list-group category_block">
            <li class="list-group-item success"><a href="#">iPhone</a></li>
            <li class="list-group-item"><a href="#">Android</a></li>
            <li class="list-group-item"><a href="#">Huawei</a></li>
            <li class="list-group-item"><a href="#">Windows Phone</a></li>
            <li class="list-group-item"><a href="#">Linux Phone</a></li>
        </ul>
    </div>
</div>
</template>
<script>
export default {
    data() {
        return {
            select_price: '-'
        }
    },
    methods:{
        search(e,p){
            this.$root.$emit('Search',e,p)
        },
        searchPrice(e,p){
            //alert(p)
            this.$root.$emit('SearchPrice',e,p)
        },
    }
}
</script>
<style scoped>
.search {
    padding:4px;
}
</style>
