<template>
<div class="page-footer font-small teal pt-4 bg-light">

  <div class="container-fluid text-center text-md-left">

  </div>

  <div class="footer-copyright text-center py-3">© 2020
    <a href="#"> Our Online Shop</a>
  </div>
</div>
</template>